body {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* CART */



.Cart{

  
  display: inline-flex; 
  flex-direction: column; 
  
  /* justify-content: space-around; */
}

.cart-container {
  margin: 20px;
  border-radius: 10px;
  transition: transform .2s;
  background-color: rgb(32, 32, 31);
  padding: 15px;
  display: flex;
  flex-direction: row;
  max-width: 400px;
  justify-content: space-between;
}

.cart-container:hover{
  transition:all 200ms linear;
  box-shadow: 2px -1px 38px 1px rgba(214, 103, 12, 0.92);
  -webkit-box-shadow: 2px -1px 38px 1px rgba(214, 103, 12, 0.92);
  -moz-box-shadow: 2px -1px 38px 1px rgba(214, 103, 12, 0.92);
}

.right-part {
  max-width: 200px;
}

.right-part img {
  height: 20px;
  width: 20px;
}

.action-button {
  width: 150px;
  display: flex;
  flex-direction: row-reverse;
}



.upper-part img {
  
  height: 20px;
  width: 20px;
}

.lower-part {
  position: relative;
  top: 100px;
  display: flex;
  margin: 10px;
  height: 30px;
  border: 2px solid rgba(214, 103, 12, 0.92);
  background-color: rgba(214, 103, 12, 0.92);
  border-radius: 10px;
}

.lower-part span {
  font-size: 20px;
  margin: 5px;
  color: rgb(0, 0, 0);
}

button {
  
  border: 1px solid rgba(214, 103, 12, 0.92);
  border-radius: 6px;
  height: 30px;
  width: 30px;
}

.lower-part button:hover {
  cursor: pointer;
}
